{% extends 'base.html' %}
{% block content %}
{% load bootstrap3 %}
<div><table>
{% for object in articles %}
    <tr><td><div class="post"><p><h3><a href="{% url 'blog:one_article_by_slug' object.slug %}">{{ object.title }}</a></h3>
    <small>Автор: <ins>Михаил Попов</ins> / Дата: <ins>{{ object.add_date|date:"d.m.Y" }}</ins> в <ins>{{ object.add_date|time:"H:i" }}</ins> / Тэги: <ins>{{ object.tags.all|join:", " }}</ins></small></p>
    {{ object.subtitle|safe }} <a class="btn btn-default btn-xs" type="button" href="{% url 'blog:one_article_by_slug' object.slug %}">Читать полностью &gt;&gt;&gt;</a></div></td></tr>
{% endfor %}
</table></div>
{% endblock %}