{% extends 'main.html' %}
{% block content %}
    {% load disqus_tags %}
    <div>
        <p>
        <h3>{{ object.title }}</h3>
        <small><i class="fa fa-user" title="Автор"></i> Михаил Попов&nbsp;&nbsp;&nbsp;
            <i class="fa fa-calendar-o" title="Дата публикации"></i> {{ object.add_date|date:"d.m.Y" }}
            <i class="fa fa-clock-o" title="Время публикации"></i> {{ object.add_date|time:"H:i" }}&nbsp;&nbsp;&nbsp;
            <i class="fa fa-tags" title="Тэги"></i>
            {%  for tag in object.tags.all %}
                <a href="/blog/tags/{{ tag.slug }}/">{{ tag }}</a> {% if object.tags.last != tag %}, {% endif %}
            {% endfor %} &nbsp;&nbsp;&nbsp;
            <i class="fa fa-comments-o" title="Комментарии"></i>
            <a href="{{ object.get_absolute_url }}#disqus_thread"
               data-disqus-identifier="{{ object.get_absolute_url }}">нет комментариев</a></small>
        </p>
        {{ object.body|safe }}
        <p><table width="100%">
            <tr>

                <td width="50%">
                    {% if prev_article.count == 1 %}
                    <a href="{{ prev_article.first.get_absolute_url }}" data-toggle="post-tooltip" data-placement="bottom"
                       title="{{ prev_article.first.description|striptags }}"><i class="fa fa-angle-double-left"></i> {{ prev_article.first.title }}</a>
                    {% endif %}</td>
                <td width="50%" align="right">
                    {% if next_article.count == 1 %}
                    <a href="{{ next_article.first.get_absolute_url }}" data-toggle="post-tooltip" data-placement="bottom"
                       title="{{ next_article.first.description|striptags }}">{{ next_article.first.title }} <i class="fa fa-angle-double-right"></i></a>
                    {% endif %}</td>
            </tr>
        </table></p>
        <script>$(function () {
            $('[data-toggle="post-tooltip"]').tooltip()
        })</script>
        {% disqus_num_replies %}
        <table width="100%">
            <tr>
                <td width="50%">
                    {% if username %}
                        <a href="{{ object.get_absolute_url }}addlike/"><i
                                style="color:#449d44" class="fa fa-thumbs-o-up fa-2x"></i></a> <span
                            class="lead">{{ object.likes }}</span>
                        &nbsp;&nbsp;&nbsp;
                        <a href="{{ object.get_absolute_url }}adddislike/"><i
                                style="color:#942a25" class="fa fa-thumbs-o-up fa-2x fa-rotate-180"></i></a> <span
                            class="lead">{{ object.dislikes }}</span></td>
                    {% else %}
                        <i style="color:#777" class="fa fa-thumbs-o-up fa-2x" data-toggle="thumbs-up-tooltip" data-placement="bottom"
                       title="Войдите, чтобы поставить оценку."></i > <span
                            class="lead">{{ object.likes }}</span>
                        &nbsp;&nbsp;&nbsp;
                        <i style="color:#777" class="fa fa-thumbs-o-up fa-2x fa-rotate-180" data-toggle="thumbs-up-tooltip" data-placement="bottom"
                       title="Войдите, чтобы поставить оценку."></i> <span
                            class="lead">{{ object.dislikes }}</span></td>
                        <script>$(function () {
                            $('[data-toggle="thumbs-up-tooltip"]').tooltip()
                        })</script>

                    {% endif %}
                <td width="50%">{% include "social.html" %}</td>
            </tr>
        </table>
        <br>
    </div>
    {% include "disqus.html" %}
{% endblock %}