{% extends 'main.html' %}
{% block content %}
    <div>
        <p><h3>{{ article.title }}</h3>
    <small>Автор: <ins>Михаил Попов</ins> / <i class="fa fa-calendar-o"></i> <ins>{{ article.add_date|date:"d.m.Y" }}</ins> <i class="fa fa-clock-o"></i> <ins>{{ article.add_date|time:"H:i" }}</ins> / <i class="fa fa-tags"></i> <ins>{{ article.tags.all|join:", " }}</ins></small></p>
        {{ article.body|safe }}
    <p>
    {% include "social.html" %}
    </p>
        <br></div>
    {% include "disqus.html" %}
{% endblock %}