{% load bootstrap3 %}
{% load staticfiles %}

<script type="text/javascript" src="{%static "js/bootstrap.min.js" %}"></script>
<script>$('.dropdown-toggle').dropdown()</script>
<!-- highlight-->
<link href="{%static "highlight/styles/idea.css"%}" rel="stylesheet" media="all"/>
<script type="text/javascript" src="{%static "highlight/highlight.pack.js"%}"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!--End highlight-->

<a id="authorship" href="https://plus.google.com/+MikhailPopovRu" target="_blank" rel="author nofollow"/>

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] },
    tex2jax: { inlineMath: [ ["$%","$%"] ],
        displayMath: [ ["$$","$$"] ],
        processEscapes: true,
        ignoreClass: "tex2jax_ignore|dno" },
    TeX: { noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } } },
    messageStyle: "none"
    });
</script>
<script type="text/javascript" 
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
</script>
<script>$("body").show()</script>
</body>
</html>
