{% load bootstrap3 %}
{% load staticfiles %}

<script type="text/javascript" src="{%static "js/bootstrap.min.js" %}"></script>
<script>$('.dropdown-toggle').dropdown()</script>
<!-- highlight-->
<link href="{%static "highlight/styles/idea.css"%}" rel="stylesheet" media="all"/>
<script type="text/javascript" src="{%static "highlight/highlight.pack.js"%}"></script>
<script type="text/javascript">hljs.initHighlightingOnLoad();</script>
<!--End highlight-->

<a id="authorship" href="https://plus.google.com/+MikhailPopovRu" target="_blank" rel="author nofollow"/>
<script>$("body").show()</script>
</body>
</html>
