<!-- MatJax -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] },
    tex2jax: { inlineMath: [ ["$%","$%"] ],
        displayMath: [ ["$$","$$"] ],
        processEscapes: true,
        ignoreClass: "tex2jax_ignore|dno" },
    TeX: { noUndefined: { attributes: { mathcolor: "red", mathbackground: "#FFEEEE", mathsize: "90%" } } },
    messageStyle: "none"
    });</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
<!-- End MatJax -->